<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.panky.foodies">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.panky.foodies.loginPageActivity.ForgotActivity"
            android:parentActivityName="com.panky.foodies.View.Category.CategoryActivity"/>
        <activity
            android:name="com.panky.foodies.loginPageActivity.SupportActivity"
            android:parentActivityName="com.panky.foodies.View.Category.CategoryActivity" />
        <activity
            android:name="com.panky.foodies.loginPageActivity.FaqsActivity"
            android:parentActivityName="com.panky.foodies.View.Category.CategoryActivity" />
        <activity android:name="com.panky.foodies.loginPageActivity.LoginSignUpActivity" />
        <activity
            android:name="com.panky.foodies.loginPageActivity.TermsAndConditionActivity"
            android:parentActivityName="com.panky.foodies.View.Category.CategoryActivity" />
        <activity
            android:name="com.panky.foodies.View.Category.CategoryActivity"
            android:label="Category"
            android:parentActivityName="com.panky.foodies.View.Home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.panky.foodies.View.Home.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>